h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Sector turístico', 'main.html#page/sector/')
                    +navTemaItem('2', 'Zonas de desarrollo turístico', 'main.html#page/zonas/')
                    +navTemaItem('3', 'Establecimientos hoteleros', 'main.html#page/establecimientos/')
                    +navTemaItem('4', 'Agencias de viajes', 'main.html#page/agencias/')
                    +navTemaItem('5', 'Transporte de pasajeros', 'main.html#page/transporte/')
                    +navTemaItem('6', 'Establecimientos de gastronomía', 'main.html#page/establecimientos2/')
                    +navTemaItem('7', 'Empresas captadoras de ahorro para viajes', 'main.html#page/empresas/')
                    +navTemaItem('8', 'Sistema de tiempo compartido', 'main.html#page/sistema/')
                    +navTemaItem('9', 'Operadores profesionales de congresos, ferias y convenciones', 'main.html#page/operadores/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')