h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210301040-02 - Orientar desde su campo de acción sobre los beneficios de la utilización de prestadores turísticos legalmente constituidos.