.container#sector

    .header-ecored

        h1 1. Sector turístico
    
    .row.mx-0

        .col-12

            p Cuando se habla del sector turístico se hace referencia a todas las entidades o empresas que lo conforman segmentadas de acuerdo con su naturaleza jurídica; todas están diseñadas con el fin de trabajar en pro del sector turístico.

br#sectoro

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 1.1 Sector oficial
    
    .row.mx-0

        .col-12

            p Las corporaciones, instituciones y oficinas del estado son las que conforman y hacen parte del sector público estas están divididas según su área de desempeño.

br#sectorp

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 1.2 Sector privado
    
    .row.mx-0

        .col-12

            p Organizaciones que son totalmente opuestas al sector del estado, éstas buscan, de manera individual, lucrarse por medio de una fuente económica.

br#sectorm

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 1.3 Sector mixto
    
    .row.mx-0

        .col-12

            p Se conoce como sector mixto, la mezcla de los dos sectores anteriores el oficial y el privado. En este modelo el sector oficial es el encargado de ser el regulador y corrector del otro.