.container#establecimientos

    .header-ecored

        h1 3. Establecimientos hoteleros

br#clasificacion

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 3.1 Clasificación

    .row.mx-0

        .col-12

            p Los tipos de hospedaje están constituidos por una gran variedad de establecimientos clasificados de acuerdo con las necesidades y requerimientos de los clientes; a continuación, se identificarán los que están regulados en Colombia y cuáles son las características con las que debe contar cada uno, según ICONTEC (2006):
    
    .row.mx-0.fondo1(style="background-image: url('assets/images/pages/img1.svg')").justify-content-center  

        .col-12.my-5

            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators.indicador1
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                    li(data-target='#carouselExampleIndicators', data-slide-to='6')
                .carousel-inner
                    .carousel-item.active
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img9.png")
                                p.mt-4.text-left
                                    b Albergue-Refugio-Hostal
                                p.text-left Establecimientos en que se presta el servicio de alojamiento en habitaciones y otro tipo de unidades habitacionales en menor cantidad, privadas, en un edificio o parte independiente del mismo, constituyendo sus dependencias en un todo homogéneo y con entrada de uso exclusivo. Además, dispone como mínimo del servicio de recepción, servicio de desayuno y salón de estar para la permanecía de los huéspedes, sin perjuicio de proporcionar otros servicios complementarios.
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img10.png")
                                p.mt-4.text-left
                                    b Alojamiento rural
                                p.text-left Establecimiento en que se presta el servicio de alojamiento en unidades habitacionales privadas, ubicado en áreas rurales y cuyo principal propósito es el desarrollo de actividades asociadas a su entorno natural y cultural. Ofrecen además como mínimo, servicios de alimentación bajo la modalidad pensión completa, sin perjuicio de proporcionar otros servicios complementarios.
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img11.png")
                                p.mt-4.text-left
                                    b Apartahotel
                                p.text-left Establecimiento en que se presta el servicio de alojamiento en apartamentos independientes, de un edificio, que integran una unidad de administración y explotación, pudiendo ofrecer otros servicios complementarios. Cada apartamento está compuesto como mínimo de los siguientes ambientes: dormitorio con baño privado, sala de estar, cocina equipada y comedor.
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img12.png")
                                p.mt-4.text-left
                                    b Apartamentos turísticos
                                p.text-left Unidad habitacional destinada a brindar facilidades de alojamiento y permanencia de manera ocasional a una o más personas, según su capacidad, que puede contar con servicio de limpieza y como mínimo con los siguientes recintos: dormitorio, sala-comedor, cocina y baño.
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img13.png")
                                p.mt-4.text-left
                                    b Hotel
                                p.text-left Establecimiento en que se presta el servicio de alojamiento en habitaciones y otro tipo de unidades habitacionales en menor cantidad; privadas, en un edificio o parte independiente del mismo, constituyendo sus dependencias en un todo homogéneo y con entrada de uso exclusivo. Además, dispone como mínimo del servicio de recepción, servicio de desayuno y salón de estar para la permanecía de los huéspedes, sin perjuicio de proporcionar otros servicios complementarios.  
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img14.png")
                                p.mt-4.text-left
                                    b Posadas turísticas
                                p.text-left Vivienda familiar en que se presta el servicio de alojamiento en unidades habitacionales preferiblemente de arquitectura autóctona, cuyo principal propósito es promover la generación de empleo e ingresos a las familias residentes, prestadoras del servicio.
                    .carousel-item
                        .row.justify-content-center
                            .col-8.recuadro5.text-center
                                img.img-fluid(src="assets/images/pages/img15.png")
                                p.mt-4.text-left
                                    b Recinto de campamento o camping
                                p.text-left Establecimiento en que se presta el servicio de alojamiento en un terreno debidamente delimitado, asignándole un sitio a cada persona o grupo de personas que hacen vida al aire libre y que utilicen carpas, casas rodantes u otras instalaciones similares para pernoctar.
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

br#contrato

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 3.2 Contrato de hospedaje

    .row.mx-0

        .col-12

            p El contrato de hospedaje es un intercambio comercial entre el hotel y el huésped, en el cual el cliente cancela por el servicio con unos acuerdos ya prestablecidos entre los cuales se compromete a entregar los bienes que recibió en el mismo estado en que les fueron entregados. 

            br

            p El contrato puede ser por horas, días y hasta meses, cuenta con el respaldo del Código del Comercio (1971) en el cual se indica: 

            br

            p
                b Artículo 1192. (contrato de hospedaje)
                | . El contrato de hospedaje será mercantil cuando el alojamiento y servicios accesorios se presten por empresas dedicadas a esa actividad.
            p
                b Artículo 1193. (reglamentación)
                | . El contrato de hospedaje se ajustará al reglamento que expida el funcionario u organismo que determine el Gobierno.
            p
                b Artículo 1194. (límite de la responsabilidad del empresario)
                | . El reglamento oficial podrá limitar la cuantía de la responsabilidad del empresario cualquiera que sea el monto de los perjuicios.
            p
                b Artículo 1195. (custodia de dinero y objetos de valor)
                | . Los huéspedes tendrán derecho a entregar bajo recibo a los empresarios o administradores de hoteles, fondas, pensiones, coches cama, clínicas, sanatorios, hospitales y empresas similares, dinero y objetos de valor para su custodia.

            br

            p El empresario sólo podrá negarse a recibirlos cuando sean objetos de cuantioso valor o excesivamente voluminosos.

            br

            p
                b Artículo 1196. (responsabilidad del empresario debido al depósito)
                | . La responsabilidad del empresario será la del depositario. Esta cesará cuando la sustracción, pérdida o deterioro de las cosas depositadas sean imputables a culpa grave del depositante, de sus empleados, visitantes o acompañantes, o a la naturaleza o vicio de la cosa.
            p
                b Artículo 1197. (causales de terminación)
                | . Este contrato terminará:

            ol
                li Por el vencimiento del plazo.
                li A falta de plazo, por aviso dado por una de las partes a la otra, con doce horas de anticipación.
                li Por falta de pago.
                li Por infracción del reglamento oficial.
                li Por las demás causales expresamente pactadas.
            
            p
                b Artículo 1198. (inventario)
                | . Terminado el contrato por el empresario, este procederá ante testigos, a elaborar y suscribir un inventario de los efectos o equipaje del cliente y podrá retirarlos del alojamiento.
            p
                b Artículo 1199. (enajenación en pública subasta por falta de pago)
                | . Si el huésped no pagare su cuenta, el empresario podrá llevar los bienes a un martillo autorizado para que sean enajenados en pública subasta y con su producto se le pague.

            br

            p El remanente líquido se depositará en un banco a disposición del cliente.

br#tarifas

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 3.3 Tarifas

    .row.mx-0

        .col-12

            p Estas tarifas se cobran por la prestación del servicio de hospedaje, el cual varía según el tipo establecimiento, la categorización, la temporada del año y el lugar donde se encuentra ubicado. 
            p
                b El valor del IVA vigente, será aplicado sobre el valor final de la tarifa de hospedaje.

    br

    .row.mx-0

        .col-12.p-0

            img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%")