.container#derechos

    .header-ecored

        h1 5. Transporte de pasajeros

    .row.mx-0
        
        .col-12

            p El servicio de transporte constituye una de las principales actividades del servicio turístico, consiste en trasladar a los viajeros o turistas con sus equipajes y mercancía desde su residencia habitual a los lugares visitados.
            p
                b Existen cuatro tipos diferentes de servicios de transporte utilizados como parte fundamental del producto o servicio turístico.

    br

    .row.mx-0

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b Tipo de transporte en el servicio turístico

    br

    .row.mx-0

        .col-12.mt-5

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img2.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        b Aéreo:
                    p.ml-4 Este tipo de transportes está catalogado como uno de los más seguros, se divide en diferentes tipos de vuelos y características:
                    p.ml-4.mb-0
                        b Chárter.
                    p.ml-4.mb-0
                        b Privados.
                    p.ml-4.mb-0
                        b Especiales.
                    p.ml-4.mb-0
                        b Nacionales.
                    p.ml-4.mb-0
                        b Regulares.
                    p.ml-4.mb-0
                        b Internacionales.
                    p.ml-4.mb-0
                        b Intercontinentales.
    
    br

    .row.mx-0

        .col-12

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img3.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        b Terrestre:
                    p.ml-4 Este tipo de servicio es el más usado y común de todos, hay una gran variedad de servicios, ellos son:
                    p.ml-4.mb-0
                        b Alquiler.
                    p.ml-4.mb-0
                        b Transporte urbano.
                    p.ml-4.mb-0
                        b Transporte intermunicipal.
                    p.ml-4.mb-0
                        b Transporte internacional.
                    p.ml-4.mb-0
                        b Buses de turismo.
                    p.ml-4.mb-0
                        b Chivas.
                    p.ml-4.mb-0
                        b Carros particulares.

    br

    .row.mx-0

        .col-12

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img4.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        b Acuático:
                    p.ml-4 Este tipo de servicio es utilizado de manera más turística, en lugares que cuentan con fuente hídrica. Los más utilizados son:
                    p.ml-4.mb-0
                        b Marítimo.
                    p.ml-4.mb-0
                        b Fluvial.

    br

    .row.mx-0

        .col-12

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img5.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        b Ferrocarril:
                    p.ml-4 Es el más seguro de todos los medios de transporte y el que más capacidad de personas logra movilizar. Es de gran ayuda para el desplazamiento de turistas.