.container#empresas

    .header-ecored

        h1 7. Empresas captadoras de ahorro para viajes

    .row.mx-0
        
        .col-12

            p Son establecimientos de comercio que reciben pagos anticipados con cargo a las cuentas de programas turísticos que ofrecen. Estas empresas diseñan programas de abonos mensuales con un determinado límite de tiempo, a la medida de posibilidades de pago de cada persona.

    br

    .row.mx-0

        .col-12.p-0.text-center

            img.img-fluid(src="assets/images/pages/img19.png", style="max-width: 80%")
    
    br
    br

    .row.mx-0

        .col-12

            p
                b Requisitos específicos para las empresas captadoras de ahorro.
                
            p
                b Según el artículo 10 del Decreto 2074 (2003), el Ministerio de Comercio, Industria y Turismo:

            p  Las empresas captadoras de ahorro para viajes y de servicios turísticos prepagados deberán poseer un capital pagado mínimo de dos mil quinientos (2.500) salarios mínimos legales mensuales, que se acreditará  mediante la presentación del Balance General de apertura o a diciembre 31 del año inmediatamente anterior, junto con el Estado de Resultados del Ejercicio, certificado por contador público.