.container#operadores

    .header-ecored

        h1 9. Operadores profesionales de congresos, ferias y convenciones

    .row.mx-0
        
        .col-12

            p Son las personas naturales o jurídicas, legalmente constituidas que se dediquen a la organización de certámenes, congresos, convenciones, ferias, seminarios y reuniones similares, en sus etapas de gerenciamiento, planeación, promoción, realización; así como la asesoría y producción de estos certámenes en forma total o parcial.

    br

    .row.mx-0

        .col-12.p-0.text-center

            img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 80%")
    
    br

    .row.mx-0

        .col-12

            p
                b Obligaciones:
            
            ul
                li Inscribirse en el Registro Nacional del Turismo. 
                li Acreditar ante el ministerio de desarrollo económico, las condiciones y requisitos que demuestren su capacidad técnica, operativa, financiera, de procedencia de capital y de seguridad al turista. 
                li Ajustar sus pautas de publicidad a los servicios ofrecidos, en especial en materia de precios, calidad y cobertura del servicio. 
                li Suministrar la información que le sea requerida por las autoridades del turismo. 
                li Dar cumplimiento a las normas sobre conservación del medio ambiente tanto en el desarrollo de proyectos turísticos, como en la prestación de servicios. 
                li Actualizar anualmente los datos de su inscripción en el Registro Nacional del Turismo. 
                li Asesorar de forma profesional a los clientes.
                li Generar los eventos propios y de terceros en sus etapas de planeación, promoción y realización.
                li Garantizar los servicios contratados. 
                li Programas de capacitación. 
                li Asesorar profesionalmente a los clientes. 
                li Informar veraz y oportunamente los costos y tarifas de todos los servicios que hacen parte del evento.
                li Extender a los clientes un comprobante que especifique los servicios contratados.