.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Alojamiento extra-hotelero:
            |dentro del alojamiento turístico extra-hotelero estarán incluidos los campamentos de turismo, los apartamentos turísticos, las casas rurales y cualesquiera otras que, reglamentariamente, se determinen y estén destinados a proporcionar habitación o residencia a las personas, en épocas, zonas o similares turísticas.
        p
            strong.mr-2 Alojamiento turístico:
            | son empresas de alojamiento turístico aquellas que se dedican, de manera profesional y habitual, a proporcionar hospedaje o residencia, mediante precio, a las personas que lo demandan, con o sin prestación de otros servicios. Los establecimientos de alojamiento estarán dotados de las instalaciones y servicios mínimos que, reglamentariamente, estén determinados para cada tipo, grupo, modalidad y categoría, identificándose mediante los símbolos y en los términos que, normativamente, estén establecidos para cada uno de ellos en atención a la oferta de dichas instalaciones y servicios.
        p
            strong.mr-2 All inclusive (Incluye todo):
            | viaje todo incluido. Forma de facturación hotelera en la que todos los gastos relacionados en el contrato se consideran incluidos en un precio cerrado de antemano.
        p
            strong.mr-2 Amadeus:
            | es el principal Sistema de Distribución (GDS) a nivel mundial y proveedor tecnológico que se encarga de proporcionar herramientas de distribución, marketing y ventas en línea a los profesionales del turismo y los viajes de todo el mundo. Las compañías aéreas y los proveedores de servicios de viajes utilizan el Sistema Amadeus (originado en los Estados Unidos en 1987) para distribuir y comercializar sus productos en tiempo real, a todas o a algunas agencias de viajes y oficinas de ventas de compañías aéreas conectadas en más de 139 países de todo el mundo. El sistema es una herramienta de ventas esencial para las agencias de viajes (los usuarios de Amadeus).
        p
            strong.mr-2 Amenities:
            | pequeños artículos de aseo personal que se colocan en los cuartos de baño de los hoteles. Sinónimo(s): artículos de acogida, de bienvenida.
        p
            strong.mr-2 Área turística:
            | extensión de dimensiones variables compuesta de atractivos turísticos unidos y próximos unos a otros que cuenta, además, con una red de transportes que los intercomunica. El área turística puede agrupar varias regiones de un mismo país o inclusive de varios países.
        p
            strong.mr-2 Atractivo turístico:
            | es todo lugar, objeto o acontecimiento capaz de generar un desplazamiento turístico. Los principales son los que poseen atributos convocantes con aptitud de generar visitantes, por si. Los complementarios son los que en suma o adicionados a los principales hacen un lugar o zona turística.
        p
            strong.mr-2 Calidad turística:
            | la calidad de servicio constituye la suma de tangibles e intangibles y la misma es percibida por el cliente de acuerdo a sus necesidades, deseos y expectativas. En este orden de ideas, Keith y Newstrom (2006) señalan al respecto lo siguiente: “quien define la calidad de servicio es el cliente, con base en la satisfacción de aquellas necesidades que desea cubrir, de sus deseos y expectativas en relación al producto, lo cual depende de su percepción y lo que él espera del producto y, también, como desea recibirlo” (p. 14).
        p
            strong.mr-2 NTS:
            | Norma Técnica del Sector.
        p
            strong.mr-2 Promoción turística:
            | son las actividades que se usan para dar a conocer un producto y aumentar el índice de ventas.
        p
            strong.mr-2 Servicios turísticos:
            | conjunto de intangibles que se ofrecen para brindar comodidad y satisfacción a quien haga uso de ellos.
        p
            strong.mr-2 USNA:
            | Unidad Sectorial de Normalización.