.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZlHKBI1XdTc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El sector del turismo lo comprenden tres sectores: público, mixto y privado; los cuales dependen uno del otro para formar parte de los prestadores de servicios turísticos, que son de gran variedad.

                            br

                            p Los prestadores de servicios turísticos son las empresas que intervienen de manera directa o indirecta en los servicios al turista o visitante; por ende, vamos a conocer cuáles son estos prestadores, sus características, funciones, derechos y deberes con los cuales debe contar para brindar un servició seguro y de calidad.