.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Caracterización prestadores de servicios turisticos formales e informales del Valle del Cauca
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA2_Caracterizacion_prestadores_servicios_turisticos_formales_informales_del_Valle_del_Cauca.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Definiciones y actividades prestadores de servicios turísticos
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA2_Definiciones_y_Actividades_Prestadores_de_Servicios_Turisticos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar