.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Herramienta para Implementar LEL y Escenarios
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Herramienta_para _implementar_LEL_y_escenarios.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Técnicas efectivas para la toma de requerimientos

                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Tecnicas_efectivas_para_la_toma_de_requerimientos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar