include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Decreto 1076 de 1997. Por el cual se reglamenta el sistema de tiempo compartido turístico. Abril 14 de 1997.", "")

        +referenciaItem("Guía III gerencia de viajes y tour operadoras. (Sin fecha). Servicios de transporte turísticos.", "https://sway.com/s/1tQoRsL6JFKldRzY/embed")

        +referenciaItem("Ley 300 de 1996. Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones. Julio 26 de 1996. DO. N° 42.845.", "")

        +referenciaItem("Ministerio de Comercio. (Sin fecha). Normatividad Turismo.", "http://www.mincit.gov.co/minturismo/normatividad-turismo")

        +referenciaItem("Ministerio para la Economía Popular e Instituto Nacional de Cooperación Educativa. (2005). Aspectos generales de turismo y alojamiento. Venezuela: Autor.", "")

        +referenciaItem("Pixabay. (2012). Negocios/Finanzas.", "https://pixabay.com/es/vectors/signo-de-d%C3%B3lar-signo-de-peso-30959/")

        +referenciaItem("Pixabay. (2015a). Gente.", "https://pixabay.com/es/photos/parque-nacional-de-yosemite-cliff-918596/")

        +referenciaItem("Pixabay. (2015b). Raramuris, Nativas, Chihuahua.", "https://pixabay.com/es/photos/raramuris-nativas-chihuahua-805529/")

        +referenciaItem("Pixabay. (2015c). Viajes/Vacaciones.", "https://pixabay.com/es/photos/nueva-york-ciudad-de-nueva-york-690375/")

        +referenciaItem("Pixabay. (2016a). Agricultura, la plantación de arroz.", "https://pixabay.com/es/photos/agricultura-la-plantaci%C3%B3n-de-arroz-1807581/")

        +referenciaItem("Pixabay. (2016b). Gente.", "https://pixabay.com/es/photos/gafas-de-sol-personas-el-agua-azul-1284419/")

        +referenciaItem("Pixabay. (2016c). Naturaleza/Paisaje.", "https://pixabay.com/es/photos/chill-refrigeraci%C3%B3n-hamaca-paisaje-1839867/")

        +referenciaItem("Pixabay. (2016d). Saltar, barranquismo, río.", "https://pixabay.com/es/photos/saltar-barranquismo-1761787/")

        +referenciaItem("Pixabay. (2018). Hotel, reserva, la reserva de vuelo.", "https://pixabay.com/es/vectors/hotel-reserva-la-reserva-de-vuelos-3423980/")

        +referenciaItem("Pixabay. (2019). Viajes/Vacaciones.", "https://pixabay.com/es/illustrations/el-turismo-conciertos-gu%C3%ADa-4438308/")

        +referenciaItem("Porter, M. E. (2007). La ventaja competitiva de las naciones.", "")

        +referenciaItem("Presidencia de la República de Colombia. (1971). Código de Comercio de Colombia.", "https://arrincondelparque.com/images/documentos/codigo-comercio.pdf")

        +referenciaItem("Sierra, G. A. y R, M. (2006). Introducción al mercado turístico. Cartagena, Colombia: Editorial Universitaria.", "")

        +referenciaItem("Cámara de Comercio del oriente antioqueño. (2009). Categoria de alojamiento y hospedaje.", "https://www.ccoa.org.co/Portals/0/documentos/REGISTROS%20P%C3%9ABLICOS/REGISTRO%20NACIONAL%20DE%20TURISMO/CATEGOR%C3%8DAS/2019/ALOJAMIENTO%20Y%20HOSPEDAJE.pdf?ver=2019-02-01-162425-127")